.cart-container {
  background-color: rgba(44, 13, 4, 0.923);
  background-image: url('./cokolada.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cart-container h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: gold;
}

.cart-list {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%;
  max-width: 100%;
}
.cart-item-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.cart-item-name:hover {
  color: #5e3e0f;
  text-decoration: none;
}

.cart-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid gold;
  background-color: #f9f4d6;
}

.cart-item img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-info h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 0 15px;
  flex: 1;
}

.cart-info p {
  color: #555;
  font-size: 1.2rem;
  margin: 0 15px;
}

.cart-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.remove-button {
  background-color: #d9534f;
  color: white;
}

.remove-button:hover {
  background-color: #c9302c;
}

.update-button {
  background-color: #5cb85c;
  color: white;
}

.update-button:hover {
  background-color: #4cae4c;
}

.update-button:disabled,
.remove-button:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}
.cart-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.vertical-line {
  height: 30px;
  width: 2px;
  background-color: #ddd;
  margin: 0 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal-button {
  margin-top: 20px;
  padding: 10px 20px;
  background: gold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.chocolate-link {
  text-decoration: none;
  padding-right: 10px;
}

.no-image-text {
  font-size: 1.5rem;
  text-align: center;
  color: #f44336;
}
